
@media screen and (max-width: 760px) {
	nav ul li a{
		display:none;
	}
	.icon{
		display:block;
	}
}
@media screen and (max-width: 678px) {
	.info_box{
		width: 100%;
		display:block;
	}
}



/*****************/
/*# Tablet size #*/
/*****************/
@media (max-width: 870px){
  .button{
  	padding: .6rem .9rem;
  	margin-bottom: 10px;
  }
  .logo{
  	width:50%;
  	height: auto;
  }
  .mt-col-fix{
  	margin: 1rem auto;
  	padding: .5rem;
  	float:none;
  }
  .mt-col{
    float:left;
    box-sizing:border-box;
  }

  .mt-col-right{
    float:right;
    box-sizing:border-box;
  }

  .mt-col-1{
    width:8.33333%;
  }

  .mt-col-2{
    width:16.66667%;
  }

  .mt-col-3{
    width:25%;
  }

  .mt-col-4{
    width:33.33333%;
  }

  .mt-col-5{
    width:41.66667%;
  }

  .mt-col-6{
    width:50%;
  }

  .mt-col-7{
    width:58.33333%;
  }

  .mt-col-8{
    width:66.66667%;
  }

  .mt-col-9{
    width:75%;
  }

  .mt-col-10{
    width:83.33333%;
  }

  .mt-col-11{
    width:91.66667%;
  }

  .mt-col-12{
    width:100%;
  }

}



/*****************/
/*# Mobile size #*/
/*****************/
@media (max-width: 480px){
  .container{
  	padding:0 .2em;
  }
  .button{
  	padding: .6rem .9rem;
  	margin-bottom: 10px;
  	width: 100%;
  }
  .logo{
  	width:50%;
  	height: auto;
  }
  .sm-col-fix{
  	margin: 1rem auto;
  	padding: .5rem;
  }
  .sm-col{
    float:left;
    box-sizing:border-box;
  }

  .sm-col-right{
    float:right;
    box-sizing:border-box;
  }

  .sm-col-1{
    width:8.33333%;
  }

  .sm-col-2{
    width:16.66667%;
  }

  .sm-col-3{
    width:25%;
  }

  .sm-col-4{
    width:33.33333%;
  }

  .sm-col-5{
    width:41.66667%;
  }

  .sm-col-6{
    width:50%;
  }

  .sm-col-7{
    width:58.33333%;
  }

  .sm-col-8{
    width:66.66667%;
  }

  .sm-col-9{
    width:75%;
  }

  .sm-col-10{
    width:83.33333%;
  }

  .sm-col-11{
    width:91.66667%;
  }

  .sm-col-12{
    width:100%;
  }

}