/************/
/*# HEADER #*/
/************/
header{
	background: #474747;
	border-bottom: 3px solid #333;
	width:100%;
}
nav ul {
	float: right;
}
nav li {
	list-style: none;
	float: left;
}
nav ul li a {
	text-transform: capitalize;
	color: #fff;
	font-weight: 400;
	padding: 30px 20px;
	text-align: center;
	text-decoration: none;
	float: left;
}
nav ul li a:hover{
	background: #3e3e3e;
	padding:30px 17px;
	border-left: 3px solid #333;
	border-right: 3px solid #333;
}
.logo img{
	height: 79px;
}
.icon{
	display:none;
}



/***************/
/*# SIDE MENU #*/
/***************/
.under_menu{
	float:left;
	width: 100%;
}
.under_menu li{
	list-style: none;
}
.under_menu li a{
	border-bottom: 3px solid #333;
	display:block;
	padding: .67rem;
	text-decoration: none;
	color: #fff;
	background: #3e3e3e;
}
.under_menu li:first-child a{
	border-top: 3px solid #b82601;
}
.under_menu li a:hover{
	background: #4a4a4a;
	color: #fff;
	border-left: 3px solid #333;
	border-right: 3px solid #333;
}
.lejemal_info{
	padding: .5rem .6rem .2rem .6rem;
    background: #f1f1f1;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    float: left;
    min-height: 26px;
    border-bottom: 3px solid #d2d2d2;
}
.lejemal_info span{
	font-weight: 600;
}



/************/
/*# Status #*/
/************/
.status-title{
	background: #474747;
	border-bottom: 3px solid #b82602;
    color: #fff;
}
.status-box{
	min-height: 180px;
}
.status-box p{
	border-bottom: 2px solid #eee;
	margin-bottom: .5rem;
}


/***********/
/*# LOGIN #*/
/***********/
.login input{
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	float:none;  
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	display:block;
	border:none;
    border-bottom: 3px solid #b1b1b1;
    background: #dadada;
    outline: none;
}
.login input[type=submit]{
	background: #474747;
    color: #fff;
    padding: .6rem 2.9rem;
    font-size: 18px;
    border-bottom: 3px solid #333;
    margin: .3rem auto;
}
.login input[type=submit]:hover{
	background: #5f5d5d;
}
.button{
	background: #474747;
    color: #fff;
    padding: .6rem 2.9rem;
    font-size: 18px;
    border:none;
    border-bottom: 3px solid #333;
    display:block;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}
.button:focus {
	border-bottom: 3px solid #5a5a5a;
}



/**************/
/* INPUT FORM */
/**************/
input{
	padding: 1rem;
	margin: .3rem 0;
	float:none;  
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	display:block;
	border:none;
    border-bottom: 3px solid #b1b1b1;
    background: #dadada;
    outline: none;
    -ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
}
input:focus {
	border-bottom: 3px solid #5a5a5a;
}
input[type=submit]{
	background: #474747;
    color: #fff;
    padding: 10px 2.9rem;
    font-size: 18px;
    border-bottom: 3px solid #333;
    margin: .3rem 0;
}
input[type=submit]:hover{
	background: #5f5d5d;
}
textarea{
	padding: 1rem;
	margin: .3rem 0;
	float:none;  
	font-family: 'Open Sans', sans-serif;
	display:block;
	border:none;
    border-bottom: 3px solid #b1b1b1;
    background: #dadada;
    outline: none;
    font-size: 18px;
    resize: vertical;
    -ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
	min-height: 150px;
}
textarea:focus{
	border-bottom: 3px solid #5a5a5a;
}
select{
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    float: left;
    font-size: 18px;
    border: none;
    border-radius: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    outline: none;
    margin: .3rem 0;
    -ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
	border-bottom: 3px solid #b1b1b1;
    background: #dadada;
}
select:focus{
	border-bottom: 3px solid #797979;
}



/***************/
/*# MAP STYLE #*/
/***************/
#mapid{
	height: 262px;
    position: absolute;
    z-index: 1;
}
#mapid_ejendom{
	height: 142
	position: absolute;
    z-index: 1;
}




/****************/
/*# NY EJENDOM #*/
/****************/
.ny_ejendom_header{
    border-bottom: 3px solid #333;
    position: relative;
    top: 15px;
}
.ny_ejendom_title{
    background: #474747;
    position: relative;
    z-index: 1;
    border-top: 3px solid #333;
}
.ny_ejendom_img{
    position: relative;
    top: 85px;
    z-index: 10;
}
.ny_ejendom_img img{
	border: 3px solid #333;
	
}


/*************/
/*# SUPPORT #*/
/*************/
.tickets{
	border-bottom: 2px solid #e9e7de;
	display:flex;
}
.tickets:last-of-type{
	border:none;
}
.tickets .col {
    border-right: 2px solid #eee;
    word-break: break-all;
}
.message_sent{
	font-size: 11px;
	color: #b7b7b7;
}
.ticket_info_lejer{
	border-right: 2px solid #dadada;
	background: #efefef;
}
.ticket_info_lejer p{
	margin: 5px 0 5px;
	font-weight:600;
}
.ticket_info_udlejer{
	border-left: 2px solid #dadada;
	background: #efefef;
}
.ticket_info_udlejer p{
	margin: 5px 0 5px;
	font-weight:600;
}
.ticket_udlejer_box{
	display: flex;
}
.ticket_lejer_box{
	display: flex;
}
/*.ticket_svar textarea{
	width: 97%;
	min-height: 130px;
	border: none;
	resize: vertical;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	outline: none;
	border-bottom: 3px solid #b1b1b1;
    background: #dadada;
    -ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
}*/
.select {
    overflow: hidden; 
    height: 40px;    
    width: 240px;
    position: relative;
}
.select:after {
    content:"\f063";
    font-family: FontAwesome;
    color: #a0a0a0;
    padding: 12px 8px;
    position: absolute; right: 10px; top: 0;
    background: eee;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;
    margin: 5px 5px 0 0;   
}
.ticket_info_udlejer .lejemal_info{
	background: #fff;
}
.select{
    padding: 2px 0;
    font-family: 'Open Sans', sans-serif;
    display: block;
    float: left;
    font-size: 18px;
    border: none;
    border-bottom: 3px solid #797979;
    border-radius: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    outline: none;
    background: #dadada;
    margin: .3rem;
    width: 150px;
}
.ticket_status{
	width: 132px;
    padding: 9px;
    margin: 0px;
    border: none;
}
.ticket_subject{
	text-transform: capitalize;
}



/*************/
/*# EJENDOM #*/
/*************/
.ejendom{
	border-left: 3px solid #dadada;
}
.ejendom .lejemal_info{
	float:none;
	margin-left: auto;
	margin-right: auto;
}
.ejendom_oversigt{
    background: #eaeaea;
}
.address{
	text-transform: capitalize;
	text-decoration: none;
}
.ejendom_menu{
	background: #474747;
	border-top: 3px solid #333;
	border-bottom: 3px solid #333;
	border-right: 3px solid #333;
	box-sizing: border-box;
}
.ejendom_menu ul{
	list-style: none;
}
.ejendom_menu ul li a{
    color: #fff;
    padding: 14px 40px;
    font-size: 18px;
    border:none;
    display:block;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    float:left;
    text-decoration: none;
    border-left: 3px solid #333;
}
.ejendom_menu ul li a:last-of-type{
	border-right: 3px solid #333;
}
.ejendom_menu ul li a:hover{
	background: #3e3e3e;
	/*padding: 14px 40px;
	border-left: 3px solid #333;
	border-right: 3px solid #333;*/
}



/***********/
/*# lejer #*/
/***********/
.lejer_title{
	background: #eee;
	text-align: center;
	border-bottom: 3px solid #d2d2d2;
	margin-bottom: 5px;
	float: left;
	padding: .5rem .8rem;
}
.lejer_menu ul{
	list-style: none;
}
.lejer_menu ul li a{
	color: #fff;
    padding: 14px 40px;
    font-size: 18px;
    border:none;
    display:block;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    text-decoration: none;
    border: 3px solid #333;
    border-bottom:none;
    background: #474747;
    text-align: center;
}
.lejer_menu ul li a:last-of-type{
	border-bottom: 3px solid #333;
}
.lejer_menu ul li a:hover{
	background: #3e3e3e!important;
}
.lejer_title_oversigt{
	background: #eee;
	text-align: center;
	border-bottom: 3px solid #d2d2d2;
	margin-bottom: 5px;
	padding: .5rem .8rem;
}



/**************/
/*# Feedback #*/
/**************/
.feedback{
	width: 360px;
	padding: 10px;
	margin: 20px auto;
}